@{
    ViewData["Title"] = "View Group";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#forgotps').click(function(){
            $('#pw').css("display", "block");
        });
    });
</script>


<h1>@ViewBag.CurrentGroup.name</h1>
<h6>Created by: @ViewBag.Owner.first_name</h6>
<hr class="namediv">
<div class="left">

    <h3>Description</h3>
    <p>@ViewBag.CurrentGroup.desc</p>

    <h3>Goals</h3>
    <div class="groupgoalslist">
        <ul>
            <li>
                <h4>[GOAL]</h4><br>
                Starts: [START DATE, IF ANY]<br>
                Ends: [END DATE]<br>
                -<span class="grpmb">submitted by [MEMBER]</span><hr class="namediv">
            </li>
        </ul>
    </div>
</div>

<div class="right">
    <div class="userssec">
        <h3>Recently Joined Users</h3>
        <!-- LAST FIVE TO JOIN -->
        <ul>
            @{
                foreach(var mem in ViewBag.RecMems) {
                    <li>@mem.member.username</li>
                }
            }
        </ul>
        <p><a href="/group/@ViewBag.CurrentGroup.id/all">View All Users</a></p>
        <hr class="namediv">
    </div>
    <div class="options">
        @{
            if(ViewBag.UserLevel == 1)
            {
                <a href="/group/@ViewBag.CurrentGroup.id/join"><button class="simpleMar btn btn-default">Join Group</button></a>
            }
            else if(ViewBag.UserLevel == 2) {
                <button class="simpleMar btn btn-default">Make a Goal</button><br>
                if(ViewBag.CurrentUser.id == ViewBag.CurrentGroup.ownerid)
                {
                    <a href="/group/@ViewBag.CurrentGroup.id/delete"><button class="simpleMar btn btn-default">Delete Group</button></a><br>
                    if(ViewBag.CurrentGroup.password != null)
                    {
                        <button id="forgotps" class="simpleMar btn btn-default btn-sm">Forgot Group Password?</button><br>
                        <p id="pw">@ViewBag.CurrentGroup.password</p>
                    }
                }
                else
                {
                    <a href="/group/@ViewBag.CurrentGroup.id/leave"><button class="simpleMar btn btn-default">Leave Group</button></a><br>
                }
            }
        }
    </div>
</div>